@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
html, body {
	font-family: 'Comfortaa';
	font-size: 24px;
	color: black;
	margin: 0;
	background: rgb(0,0,0);
	background: linear-gradient(to bottom right, #cc7722, rgb(71, 101, 141) 80%, rgb(51, 59, 70));
	height: 100vh;
}

*, *::after, *::before {
    box-sizing: border-box;
}


.uploader {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

/* шапка */
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headers {
    width: 100%;
    height: 45px;
    background-color: rgb(34, 37, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.menu_wrapper a{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgb(246	195	68);
    text-decoration: none;
    white-space: nowrap;
}

.header_item {
    text-align: center;
    display: inline-block;
    padding: 0 30px;
}

.header_list {
	display: flex;
	list-style-type: none;
}

/* Дизайн кнопки */
.cont_for_btn {
    display: flex;
    justify-content: center;
}

.form {
    border-radius: 30px;
}

.btn, .input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: rgb(246	195	68);
    background: rgb(34, 37, 41);
    border-radius: 7px;
    padding: 8px 22px;
    transition: background-color 0.2s;
    font-size: 18px;
    line-height: 14px;
    margin: 0px 15px;
    border: none;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
   
/* Hover/active */
.btn:hover, .input-file:hover span {
    background-color: #546077c4;
}
.btn:active, .input-file:active span {
    background-color: #546077c4;
}
   
/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}
/* Конец дизайна кнопки */


/* стиль текста заголовка*/
.title_text {
	font-size: 30px;
	font: bold;
	color: black;
	style="text-align: center;
}


/* Дизайн блока с фото */
.photo-block {
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
}

.photo {
    width: auto;
    height: 80%;
    padding: 5px;
    box-sizing: border-box;
    border: 5px solid rgb(34, 37, 41);
    border-radius: 10px;
    margin: 0 30px;
    box-shadow: 8px 8px 5px #444;
}
/* Конец дизайна блока с фото */


/* Страницы авторизации и регистрации */
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#login-form, #register-form {
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(241, 238, 238);
    border-radius: 10px;
    background-color: rgb(241, 238, 238);;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid gray;
}
  
button {
    padding: 10px 20px;
    margin: 20px 5px;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.reg-button{
	 padding: 10px 20px;
    margin: 20px 5px;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}
.buttons{
	display: flex;
	justify-content: center
}


/* весь остальной текст */
.all_text {
	font-size: 24px;
	padding: 50px;
	padding-top: 0px;
	margin: 10px;
	color: #fffafa;
	display: flex;
/*    justify-content: center;
    align-items: center;*/
}

.flash {
	padding: 10px;
	display: flex;
	color: #fffafa;;
    justify-content: center;
    align-items: center;
}
.flash.error {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}
